@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");

/* global styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
}

nav ul {
  list-style: none;
}

nav a {
  text-decoration: none;
}

/* footer */
footer {
  background-color: #020f2a;
  padding: 9rem 0;
}
footer .footer-heading {
  text-align: center;
}
#legal-info ul {
  display: flex;
  justify-content: center;
}
#legal-info li {
  margin: 1.5rem 1.5rem;
}
#legal-info a {
  color: #fff;
}
#social-info ul {
  display: flex;
  justify-content: center;
}
#social-info li {
  margin: 1.5rem 1.5rem;
}

/* fa-icons */
.fa-facebook-f,
.fa-instagram,
.fa-twitter {
  color: #fff;
  font-size: 1.5rem;
}
